<h1 mat-dialog-title style="padding: 40px 10px">Neuen Termin anlegen</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-around center">
<form #f="ngForm" (ngSubmit)="terminAnlegen(f)" *rxapDataSource="let appdata from rpDataSource">
  <mat-form-field style="margin: 0 20px">
    <mat-label>Datum</mat-label>
    <input id="date" matInput [matDatepicker]="picker" (click)="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="margin: 0 20px">
    <mat-label>Wer?</mat-label>
    <mat-select required name="wessen" ngModel>
      <mat-option *ngFor="let p of appdata.Partecipants" [value]="p.number">{{p.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin: 0 20px">
    <mat-label>Raum?</mat-label>
    <mat-select required name="wo" ngModel>
      <mat-option *ngFor="let r of appdata.Rooms" [value]="r.id">{{r.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin: 0 20px" appearance="fill">
    <input type="text" matInput [matAutocomplete]="auto" >
    <mat-label>Urzeit</mat-label>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
      <mat-option value="20">5:00</mat-option>
      <mat-option value="21">5:15</mat-option>
      <mat-option value="22">5:30</mat-option>
      <mat-option value="23">5:45</mat-option>
      <mat-option value="24">6:00</mat-option>
      <mat-option value="25">6:15</mat-option>
      <mat-option value="26">6:30</mat-option>
      <mat-option value="27">6:45</mat-option>
      <mat-option value="28">7:00</mat-option>
      <mat-option value="29">7:15</mat-option>
      <mat-option value="30">7:30</mat-option>
      <mat-option value="31">7:45</mat-option>
      <mat-option value="32">8:00</mat-option>
      <mat-option value="33">8:15</mat-option>
      <mat-option value="34">8:30</mat-option>
      <mat-option value="35">8:45</mat-option>
      <mat-option value="36">9:00</mat-option>
      <mat-option value="37">9:15</mat-option>
      <mat-option value="38">9:30</mat-option>
      <mat-option value="39">9:45</mat-option>
      <mat-option value="40">10:00</mat-option>
      <mat-option value="41">10:15</mat-option>
      <mat-option value="42">10:30</mat-option>
      <mat-option value="43">10:45</mat-option>
      <mat-option value="44">11:00</mat-option>
      <mat-option value="45">11:15</mat-option>
      <mat-option value="46">11:30</mat-option>
      <mat-option value="47">11:45</mat-option>
      <mat-option value="48">12:00</mat-option>
      <mat-option value="49">12:15</mat-option>
      <mat-option value="50">12:30</mat-option>
      <mat-option value="51">12:45</mat-option>
      <mat-option value="52">13:00</mat-option>
      <mat-option value="53">13:15</mat-option>
      <mat-option value="54">13:30</mat-option>
      <mat-option value="55">13:45</mat-option>
      <mat-option value="56">14:00</mat-option>
      <mat-option value="57">14:15</mat-option>
      <mat-option value="58">14:30</mat-option>
      <mat-option value="59">14:45</mat-option>
      <mat-option value="60">15:00</mat-option>
      <mat-option value="61">15:15</mat-option>
      <mat-option value="62">15:30</mat-option>
      <mat-option value="63">15:45</mat-option>
      <mat-option value="64">16:00</mat-option>
      <mat-option value="65">16:15</mat-option>
      <mat-option value="66">16:30</mat-option>
      <mat-option value="67">16:45</mat-option>
      <mat-option value="68">17:00</mat-option>
      <mat-option value="69">17:15</mat-option>
      <mat-option value="70">17:30</mat-option>
      <mat-option value="71">17:45</mat-option>
      <mat-option value="72">18:00</mat-option>
      <mat-option value="73">18:15</mat-option>
      <mat-option value="74">18:30</mat-option>
      <mat-option value="75">18:45</mat-option>
      <mat-option value="76">19:00</mat-option>
      <mat-option value="77">19:15</mat-option>
      <mat-option value="78">19:30</mat-option>
      <mat-option value="79">19:45</mat-option>
      <mat-option value="80">20:00</mat-option>
      <mat-option value="81">20:15</mat-option>
      <mat-option value="82">20:30</mat-option>
      <mat-option value="83">20:45</mat-option>
      <mat-option value="84">21:00</mat-option>
      <mat-option value="85">21:15</mat-option>
      <mat-option value="86">21:30</mat-option>
      <mat-option value="87">21:45</mat-option>
      <mat-option value="88">22:00</mat-option>
      <mat-option value="89">22:15</mat-option>
      <mat-option value="90">22:30</mat-option>
      <mat-option value="91">22:45</mat-option>
      <mat-option value="92">23:00</mat-option>
      <mat-option value="93">23:15</mat-option>
      <mat-option value="94">23:30</mat-option>
      <mat-option value="95">23:45</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field style="margin: 0 20px" appearance="fill">
    <mat-label>Dauer</mat-label>
    <mat-select required name="dauer" ngModel>
      <mat-option value="1">0:15</mat-option>
      <mat-option value="2">0:30</mat-option>
      <mat-option value="3">0:45</mat-option>
      <mat-option value="4">1:00</mat-option>
      <mat-option value="5">1:15</mat-option>
      <mat-option value="6">1:30</mat-option>
      <mat-option value="7">1:45</mat-option>
      <mat-option value="8">2:00</mat-option>
      <mat-option value="9">2:15</mat-option>
      <mat-option value="10">2:30</mat-option>
      <mat-option value="11">2:45</mat-option>
      <mat-option value="12">3:00</mat-option>
      <mat-option value="13">3:15</mat-option>
      <mat-option value="14">3:30</mat-option>
      <mat-option value="15">3:45</mat-option>
      <mat-option value="16">4:00</mat-option>
      <mat-option value="17">4:15</mat-option>
      <mat-option value="18">4:30</mat-option>
      <mat-option value="19">4:45</mat-option>
      <mat-option value="20">5:00</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin: 0 20px">
    <mat-label>Type</mat-label>
    <mat-select required name="type" ngModel>
      <mat-option value="S1">S1</mat-option>
      <mat-option value="S2">S2</mat-option>
      <mat-option value="S3">S3</mat-option>
      <mat-option value="WG">WG</mat-option>
      <mat-option value="Sichtung">Sichtung</mat-option>
      <mat-option value="Schulung">Schulung</mat-option>
      <mat-option value="Veranstaltung">Veranstaltung</mat-option>
      <mat-option value="PG">PG</mat-option>
      <mat-option value="Privat">Privat</mat-option>
      <mat-option value="Sonstiges">Sonstiges</mat-option>
    </mat-select>
  </mat-form-field>
  <script>
  </script>
  <br>
  <button [disabled]="!enabled" mat-raised-button color="primary" style="margin: 50px 20px;" (click)="terminAnlegen(f)">Anlegen</button>
</form>
</div>
<!--'S1','S2','S3','WG','Sichtung','Schulung','Veranstaltung','PG','Privat','Sonstiges'-->
