<div class="row">
  <div class="card-panel col s12 l12 m12 row no-padding hoverable">
    <div class="col l2 m3 s12 icon" [appBackgroundImage]="roomImage">
      <span class="raumName">{{name}}</span>
      <app-neuer-termin [name]="name" style="float: right; margin-top: 10px"></app-neuer-termin>
    </div>
    <div class="col s12 l10 m9 no-padding ">
      <div class="nav-wrapper indigo darken-4" style="height:40px;line-height: 1.5;font-weight: normal;color:white">
        <span class="listenTitel">Dienstag 24.03.2020</span>
      </div>
      <!--<div>
        <div class="row no-padding" style="margin: 0;">
              <div style="border-left: 1px solid lightgrey; color:lightgrey;" class="col s2 l1 no-padding" *ngFor="let number of [8,9,10,11,12,13,14,15,16,17,18,19]"><span>{{number}}:00</span></div>
        </div>
      </div>-->
      <div style="overflow-x:scroll;overflow-y: hidden;" class="test">
        <div class="row no-padding" style="margin: 0;width:2000px; display: flex;min-height:83px; position: relative;">
              <div class="indigo darken-4 tagesPadding"></div>
              <div class="no-padding tagesStunde" *ngFor="let number of [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]"><span>{{number}}:00</span></div>
              <div class="indigo darken-4 tagesPadding"></div>
              <div class="termin">
                <img src="https://a.thumbs.redditmedia.com/yQlJ56Lw_kU6wEfIq_vVDHcte17JNIFVeyMO05aAjZ8.png" class="circle profileImage" [alt]="name">
                <span>S1</span>
                <br>
                <span class="truncate" style="font-size: 10px">Malte Kretzschmar</span>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
