.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time{
  color: lightgray;
  height: 50px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.right{
  text-align: right;
  border-right: none;
  width: 100%
}

.calendar{
  color: lightgray;
  height: 50px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin: 0;
  pointer-events: none;
}

.icon{
  background-size: cover !important;
  height: 140px;
  position: relative;
}

.kopf{
  min-height: 30px;
  background: #1a237e;
  color: white;
  text-align: center;
  vertical-align: bottom;
}
.kopf span {
  width: 100%;
}


/*TODO remove below*/

.termin {
  height: 45px;
  width: 99%;
  background-color: rgb(3, 155, 229);
  border-color: rgb(3, 155, 229);
  position: absolute;
  top: 130px;
  border-radius: 4px;
  padding: 2px 5px;
  color: white;
  font-size: 14px;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  margin: 1px;
}
.profileImage{
  width: 25px;
  height: 25px;
  /*display: inline-block;*/
  border: 2px solid white;
  vertical-align: bottom;
  margin-right: 5px;
  display:none;
}

.teamMalte {
  background-color: rgb(3, 155, 229);
  border-color: rgb(3, 155, 229);
}

.teamHolweck{
  background-color: rgb(124, 179, 66);
  border-color: rgb(124, 179, 66);
}

.teamPantke{
  background-color: rgb(228, 196, 65);
  border-color: rgb(228, 196, 65);
}

.teamAndere{
  background-color: rgb(213, 0, 0);
  border-color: rgb(213, 0, 0);
}