<div class="row">
  <div class="card-panel col s12 l12 m12 row no-padding hoverable">
    <div class="col l2 m3 s12 icon" [appBackgroundImage]="roomData.img">
      <span class="raumName">{{roomData.name}}</span>
      <!--<app-neuer-termin [name]="roomName" style="float: right; margin-top: 10px" [data]="datastruct"></app-neuer-termin>-->
    </div>
    <div class="col s12 l10 m9 no-padding ">
      <div class="nav-wrapper indigo darken-4" style="height:40px;line-height: 1.5;font-weight: normal;color:white">
        <span class="listenTitel">Dienstag 24.03.2020</span>
      </div>
      <div style="overflow-x:scroll;overflow-y: hidden;" class="test">
        <div class="row no-padding" style="margin: 0;width:2000px; display: flex;min-height:83px; position: relative;" *rxapDataSource="let dates from rpDates">
          <div class="indigo darken-4 tagesPadding"></div>
          <div class="no-padding tagesStunde" *ngFor="let number of [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]"><span>{{number}}:00</span></div>
          <div class="indigo darken-4 tagesPadding"></div>
          <app-raum-termin *ngFor="let termin of dates | filterRooms: {roomToFind: roomData.id}" [dateModel]="termin" ></app-raum-termin>
        </div>
      </div>
    </div>
  </div>
</div>
