.termin{
  height: 45px;
  width: 100px;
  background-color: rgb(3, 155, 229);
  border-color: rgb(3, 155, 229);
  position: absolute;
  left: 250px;
  top: 20px;
  border-radius: 4px;
  padding: 2px 5px;
  color: white;
  font-size: 14px;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
