
<div class="container" id="central" >
  <mat-tab-group>
    <mat-tab label="Tagesübersicht">
      <app-tagesansicht> </app-tagesansicht>
    </mat-tab>
    <!--<mat-tab label="Raumansicht">
      <app-room-view *rxapDataSourceCollection="let room from raumDataSource" [roomData]="room" ></app-room-view>
    </mat-tab>-->
    <mat-tab label="Termin anlegen">
     <app-new-booking-view ></app-new-booking-view>
    </mat-tab>
    <mat-tab label="Teamverwaltung">
      <div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>

