
<div class="container" id="central">
  <mat-tab-group>
    <mat-tab label="Tagesübersicht">
      <app-tagesansicht [datastruct]="newDataStruct$ | async"></app-tagesansicht>

    </mat-tab>
    <mat-tab label="Raumansicht">
      <app-raumansicht *ngFor="let room of datastruct.Rooms" [roomData]="room" [dates]="datastruct.Dates"></app-raumansicht>
    </mat-tab>
    <mat-tab label="Termin anlegen">
      <app-termin-anlegen [appdata]="newDataStruct$ | async"></app-termin-anlegen>
    </mat-tab>
  </mat-tab-group>
</div>

