
<div class="container" id="central" >
  <mat-tab-group>
    <mat-tab label="Tagesübersicht">
      <app-tagesansicht> </app-tagesansicht>
    </mat-tab>
    <mat-tab label="Raumansicht">
      <app-raumansicht *rxapDataSourceCollection="let room from raumDataSource" [roomData]="room" ></app-raumansicht>
    </mat-tab>
    <mat-tab label="Termin anlegen">
     <app-termin-anlegen ></app-termin-anlegen>
    </mat-tab>
    <mat-tab label="Teamverwaltung">
      <div>
        
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

